
/* BUTTON SECTION */
.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem 3rem;
}
.difficuilt-button{
    width: 11rem;
        background-color: #121619;
        border: 5px solid white;
        color: white;
        border-radius: 29px;
        font-size: 2.5rem;
        padding: 0.5rem;
        cursor: pointer;
        position: relative;
        z-index: 0;
        -webkit-transition: all 0.6s;
            -o-transition: all 0.6s;
            -moz-transition: all 0.6s;
            transition: all 0.6s;
}

.difficuilt-button::before{
content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121619;
    width: 101%;
    height: 103%;
    z-index: -1;
    opacity: 1;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    border-radius: 22px;
}

.button-timeline{
    background-color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
        border-radius: 25px;
        border: 3px solid black;
        font-weight: 700;
}

.buttons-container{
    display: flex;
    margin-bottom: 0.2rem;
}

.buttons-unevaiable{
    color: gray;
}

.statusMessage{
    font-size: 1.5rem;
}

.difficuilt-button:hover {
text-shadow: 1px 1px black;
}

.difficuilt-button:hover::before {
    opacity: 0;
}

.game-container{
    display: flex;
    flex-direction: column;
   /*  gap: 1rem; */
    background-image: url('../assets/img/texture.png');
    border-radius: 4px;
        border: 2px solid #3b2222;
}

.game-container-screen p {
    color: white;
}

.cell-container{
    padding: 5px;
    border: 3px solid black;
}

.cell-container-no-bot-border{
    border-bottom: 0;
}

.cell-container-no-right-border {
    border-right: 0;
}

.house-bg{
    background-image: url('../assets/img/house.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.game-cell{
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1px black;
}

.tmpBomb{
    background-image: url('../assets/img/wolf-spotted.png');
    background-size:30px 55px;;
        background-position: center bottom;
        background-repeat: no-repeat;
    
}


.tmpFlag{
    background-image: url('../assets/img/wolf-flag.png');
    background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
}

.column{
    display: flex;
    flex-direction: row;
   /*  gap: 1rem; */
}

